*.sh text eol=lf
docs/evidencias/producao/sprint-01-validacao/* -text
docs/evidencias/producao/sprint-02/* -text
docs/evidencias/producao/sprint-02-validacao/* -text -whitespace
docs/evidencias/producao/sprint-03/* -text -whitespace
